@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100vh;
  overflow: hidden;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
  border: 2px solid #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide Scrollbars for Specific Elements */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar {
  width: 250px; /* Fixed width */
  min-width: 200px; /* Minimum width */
  max-width: 300px; /* Maximum width */
  height: 100vh;
  overflow-y: auto;
  transition: width 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 180px;
  }
}

/* Hide scrollbar for WebKit browsers */
::-webkit-scrollbar {
  display: none;
}
